<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:fragment="head">
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="StyleSheet" th:href="@{/CSS/styles.css}" type="text/css"
          media="screen"/>
    <link rel="stylesheet" th:href="@{/CSS/bootstrap.css}" type="text/css"
          media="screen"/>
    <title>Mr Jiro</title>
</head>

<body class="container">
<header th:fragment="header">
    <nav class="navbar fixed-top">
        <figure class="dropdown">
            <img class="logo-ppal" th:src="@{/img/logo_MrJiro.jpeg}" alt="logo"/>
        </figure>
        <ul class="dropdown">
            <a class="text-white" th:href="@{/}">Inicio</a>
        </ul>
        <ul class="dropdown">
            <button class="dropbtn">
                Clientes <i class="fa fa-caret-down"></i>
            </button>
            <li class="dropdown-content"><a
                    th:href="@{/registro/cliente}">Registrar Cliente</a> <a
                    th:href="@{/clientes}">Buscar Cliente</a></li>
        </ul>
        <ul class="dropdown">
            <button class="dropbtn">
                Productos <i class="fa fa-caret-down"></i>
            </button>
            <li class="dropdown-content">
                <a th:href="@{/registro/categoria}">Categorias</a>
                <a th:href="@{/registro/producto}">Registrar Producto</a>
                <a th:href="@{/productos}">Buscar Producto</a>
            </li>
        </ul>
        <ul class="dropdown">
            <button class="dropbtn">
                Pedidos <i class="fa fa-caret-down"></i>
            </button>
            <li class="dropdown-content">
                <a th:href="@{/registro/pedido}">Registrar Pedido</a>
                <a th:href="@{/}">Buscar Pedido</a>
            </li>
        </ul>
        <ul class="dropdown">
            <button class="dropbtn">
                Proveedores <i class="fa fa-caret-down"></i>
            </button>
            <li class="dropdown-content">
                <a th:href="@{/registro/proveedor}">Registrar Proveedor</a>
                <a th:href="@{/proveedores}">Buscar Proveedor</a>
        </ul>
        <ul class="dropdown">
            <button class="dropbtn">
                Configuracion <i class="fa fa-caret-down"></i>
            </button>
            <li class="dropdown-content">
                <a sec:authorize="!isAuthenticated()" th:href="@{/login}">Iniciar sesi&oacute;n</a>
                <form sec:authorize="isAuthenticated()" id="logoutForm" th:action="@{/logout}" method="post">
                    <a onclick="document.getElementById('logoutForm').submit();" type="submit">Cerrar sesi&oacute;n</a>
                </form>

            </li>
        </ul>
    </nav>
    <div class="alert alert-success" th:if="${success != null}" th:text="${success}"></div>
    <div class="alert alert-danger" th:if="${error != null}" th:text="${error}"></div>
    <div class="alert alert-warning" th:if="${warning != null}" th:text="${warning}"></div>
    <div class="alert alert-info" th:if="${info != null}" th:text="${info}"></div>
</header>
<main>
</main>
</body>
<footer th:fragment>
    <script type="text/javascript" th:src="@{js/bootstrap.min.js}"></script>
    <script type="text/javascript" th:src="@{js/jquery-3.6.1.min.js}"></script>
    <p sec:authorize="isAuthenticated()">Usuario logueado: <span sec:authentication="name"></span> | Roles: <span sec:authentication="principal.authorities"></span></p>
    <p>Autor: Martha Lucia Quintero Lopez</p>
</footer>
</html>