<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/navbar::head"></head>

<body class="container">
<header th:replace="layout/navbar::header"></header>
<main>
    <section class="row d-flex justify-content-center">
        <article class="col-md-6">
            <form class="input-group" th:action="@{/registro/producto}" th:object="${producto}" method="post">
                <ul class="dropdown row">
                    <figure class="text-center">
                        <img class="logo" th:src="@{/img/logo_MrJiro.jpeg}" alt="logo"/>
                    </figure>
                    <h3 class="text-white text-center" th:text="${titulo}"></h3>
                    <ul>
                        <li class="form-floating mb-3">
                            <input class="form-control" type="text" id="floatingInputName"
                                   placeholder="Nombre" th:field="*{nombre}"/>
                            <label for="floatingInputName">Nombre producto</label>
                        </li>
                        <li class="form-floating mb-3">
                            <input class="form-control" type="text" id="floatingInputDesc"
                                   placeholder="Descripcion" th:field="*{descripcion}"/>
                            <label for="floatingInputDesc">Descripcion producto</label>
                        </li>
                        <li class="input-group mb-3">
                            <span class="input-group-text">$</span>
                            <div class="form-floating">
                                <input class="form-control" type="number" min="0" step="1.00" id="floatingInputPrecio"
                                       placeholder="precio" th:field="*{precio}"/>
                                <label for="floatingInputPrecio">Precio producto</label>
                            </div>
                        </li>
                        <div class="row">
                            <div class="col form-floating mb-3">
                                <select class="form-select" id="floatingSelectCat" name="Categoria"
                                        aria-label="Default select example"
                                        th:field="*{categoria}">
                                    <option th:each="categoria: ${productoCategorias}"
                                            th:value="${categoria.idCategoria}"
                                            th:text="${categoria.nombre}"></option>
                                </select>
                                <label for="floatingSelectCat">Seleccione una categoria</label>
                            </div>
                            <div class="col form-floating mb-3">
                                <select class="form-select" id="floatingSelectProv" name="Proveedor"
                                        aria-label="Default select example"
                                        th:field="*{proveedor}">
                                    <option th:each="proveedor: ${productoProveedor}"
                                            th:value="${proveedor.idProveedor}"
                                            th:text="${proveedor.nombres} + ' ' + ${proveedor.apellidos}"></option>
                                </select>
                                <label for="floatingSelectProv">Seleccione un proveedor</label>
                            </div>
                        </div>
                        <li class="mb-3">
                            <input type="submit"
                                   th:value="${btnProducto}" class="form-control btn btn-primary"/>
                        </li>

                    </ul>
                </ul>
            </form>
        </article>
    </section>
</main>
</body>
<footer th:replace="layout/navbar::footer"></footer>
</html>