<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="StyleSheet" href="../CSS/styles.css" type="text/css" media="screen" />
  <link rel="stylesheet" href="../CSS/bootstrap.css" type="text/css" media="screen" />
  <title>Registro Producto</title>
</head>

<body class="container">
  <header>
    <nav class="navbar fixed-top">
      <figure class="dropdown">
        <img class="logo-ppal" src="../img/logo_MrJiro.jpeg" alt="logo" />
      </figure>
      <ul class="dropdown">
        <a class="text-white" href="../Index.html">Inicio</a>
      </ul>
      <ul class="dropdown">
        <button class="dropbtn">
          Clientes
          <i class="fa fa-caret-down"></i>
        </button>
        <li class="dropdown-content">
          <a href="frm_registro_cliente.html">Registrar Cliente</a>
          <a href="frm_buscar_cliente.html">Buscar Cliente</a>
          <a href="frm_modificar_cliente.html">Modificar Cliente</a>
        </li>
      </ul>
      <ul class="dropdown">
        <button class="dropbtn">
          Productos
          <i class="fa fa-caret-down"></i>
        </button>
        <li class="dropdown-content">
          <a href="frm_registro_producto.html">Registrar Producto</a>
          <a href="frm_buscar_producto.html">Buscar Producto</a>
          <a href="frm_modificar_producto.html">Modificar Producto</a>
        </li>
      </ul>
      <ul class="dropdown">
        <button class="dropbtn">
          Pedidos
          <i class="fa fa-caret-down"></i>
        </button>
        <li class="dropdown-content">
          <a href="frm_registro_pedido.html">Registrar Pedido</a>
          <a href="frm_buscar_pedido.html">Buscar Pedido</a>
          <a href="frm_modificar_pedido.html">Modificar Pedido</a>
        </li>
      </ul>
      <ul class="dropdown">
        <button class="dropbtn">
          Proveedores
          <i class="fa fa-caret-down"></i>
        </button>
        <li class="dropdown-content">
          <a href="frm_registro_provedores.html">Registrar Proveedor</a>
          <a href="frm_buscar_proveedor.html">Buscar Proveedor</a>
          <a href="frm_modificar_proveedor.html">Modificar Proveedor</a>
        </li>
      </ul>
      <ul class="dropdown">
        <button class="dropbtn">
          Configuracion
          <i class="fa fa-caret-down"></i>
        </button>
        <li class="dropdown-content">
          <a href="frm_registro_usuario.html">Registrar usuario</a>
          <a href="#">Cerrar sesion</a>
        </li>
      </ul>
    </nav>
  </header>
  <main>
    <section>
      <article class="d-flex flex-column justify-content-center align-items-center text-center">
        <form action="">
          <ul class="dropdown">
            <figure>
              <img class="logo" src="../img/MrJiro.jpeg" alt="logo" />
            </figure>
            <h3 class="text-white">Registrar producto</h3>
            <li>
              <label for="codigo de producto">
                <input class="mb-3" type="text" id="name" placeholder="Codigo del Producto" required minlength="4"
                  maxlength="14" />
              </label>
            </li>
            <li>
              <label for="Nombre">
                <input type="text" id="" placeholder="Nombre" class="mb-3" />
              </label>
            </li>
            <li>
              <label for="Precio">
                <input class="mb-3" type="text" placeholder="Precio" />
              </label>
            </li>
            <li>
              <label for="Descripcion">
                <input class="mb-3" type="text" id="Descripcion" placeholder="Breve descripcion" />
              </label>
            </li>
            <li>
              <label for="Fecha de vencimiento">
                <input type="datetime-local" class="mb-3" id="Fecha de vencimiento"
                  placeholder="Fecha de vencimiento" />
              </label>
            </li>
            <li>
              <label for="crear">
                <input type="submit" value="Crear" class="btn btn-primary" />
              </label>
              <label for="Cancelar">
                <input type="submit" value="Cancelar" class="btn btn-primary" />
              </label>
            </li>
          </ul>
        </form>
      </article>
    </section>
  </main>


</body>
<footer>Gracias por la visita</footer>

</html>