<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/navbar::head"></head>
<body class="container">
<header th:replace="layout/navbar::header"></header>
<main>
    <section class="row d-flex justify-content-center">
        <article class="col-md-6">
            <form class="input-group" th:action="@{/registro/cliente}" th:object="${cliente}" method="post">
                <div class="dropdown row">
                    <figure class="text-center">
                        <img class="logo" th:src="@{/img/logo_MrJiro.jpeg}" alt="logo"/>
                    </figure>
                    <h3 class="text-white text-center" th:text="${titulo}"></h3>
                    <ul>
                        <li class="col form-floating mb-3">
                            <select th:field="*{tipoDocumento}"
                                    name="Tipo de documento"
                                    id="floatingSelectClie"
                                    class="form-select">
                                <option th:value="'CC'" th:text="'Cedula'"></option>
                                <option th:value="'NIT'" th:text="'Nit'"></option>
                                <option th:value="'CE'" th:text="'Cedula Extranjería'"></option>
                            </select>
                            <label for="floatingSelectClie">Tipo documento</label>
                        </li>
                        <li class="form-floating mb-3">
                            <input class="form-control" type="text" id="floatingInputNumDoc"
                                   placeholder="Numero de documento" th:field="*{documento}"
                                   th:errorclass="'form-control alert-danger'"/>
                            <label for="floatingInputNumDoc">Numero documento</label>
                            <small class="form-text text-danger" th:if="${#fields.hasErrors('documento')}"
                                   th:erros="*{documento}"></small>
                        </li>
                        <li class="form-floating mb-3">
                            <input class="form-control" id="floatingInputNom" type="text" name="nombre"
                                   placeholder="Nombres" th:field="*{nombres}"
                                   th:errorclass="'form-control alert-danger'"/>
                            <label for="floatingInputNom">Nombres</label>
                            <small class="form-text text-danger" th:if="${#fields.hasErrors('nombres')}"
                                   th:erros="*{nombres}"></small>

                        </li>
                        <li class="form-floating mb-3">
                            <input class="form-control" id="floatingInputApellidos" type="text" name="apellido"
                                   placeholder="Apellidos" th:field="*{apellidos}"
                                   th:errorclass="'form-control alert-danger'"/>
                            <label for="floatingInputApellidos">Apellidos</label>
                            <small
                                    class="form-text text-danger"
                                    th:if="${#fields.hasErrors('apellidos')}" th:erros="*{apellidos}"></small>
                        </li>
                        <li class="form-floating mb-3">
                            <input
                                    class="form-control" id="floatingInputDireccion" type="text" name="direccion"
                                    placeholder="Direccion" th:field="*{direccion}"
                                    th:errorclass="'form-control alert-danger'"/>
                            <label for="floatingInputDireccion">Direcci&oacute;n</label>
                            <small
                                    class="form-text text-danger"
                                    th:if="${#fields.hasErrors('direccion')}"
                                    th:erros="*{direccion}"></small>
                        </li>
                        <li class="form-floating mb-3">
                            <input class="form-control" id="floatingInputTelefono" type="tel" name="telefono"
                                   placeholder="Telefono" th:field="*{telefono}"
                                   th:errorclass="'form-control alert-danger'"/>
                            <label for="floatingInputTelefono">Telefono</label>
                            <small
                                    class="form-text text-danger"
                                    th:if="${#fields.hasErrors('telefono')}" th:erros="*{telefono}"></small>
                        </li>
                        <li><input type="submit" required
                                   class="form-control mb-3 btn btn-primary"/>
                        </li>
                    </ul>
                </div>
            </form>
        </article>
    </section>
</main>
<footer th:replace="layout/navbar::footer"></footer>
</body>
</html>