<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/navbar::head"></head>
<body class="container">
<header th:replace="layout/navbar::header"></header>
<main>
    <section>
        <article
                class="d-flex flex-column justify-content-center align-items-center text-center">
            <form th:action="@{/registro/proveedor}" th:object="${proveedor}"
                  method="post">
                <ul class="dropdown">
                    <figure>
                        <img class="logo" th:src="@{/img/logo_MrJiro.jpeg}" alt="logo"/>
                    </figure>
                    <h3 class="text-white" th:text="${titulo}"></h3>
                    <li><select th:field="*{tipoDocumento}"
                                name="Tipo de documento"
                                class="form-select mb-3 form-select-sm form-control">
                        <option th:value="'CC'" th:text="'Cedula'"></option>
                        <option th:value="'NIT'" th:text="'Nit'"></option>
                        <option th:value="'CE'" th:text="'Cedula Extranjería'"></option>
                    </select></li>
                    <li class="mb-3 form-group"><label for="Numero de documento">
                        <input class="form-control" type="text" id="identificacion"
                               placeholder="Numero de documento" th:field="*{documento}"
                               th:errorclass="'form-control alert-danger'"/> <small
                            class="form-text text-danger"
                            th:if="${#fields.hasErrors('documento')}"
                            th:erros="*{documento}"></small>


                    </label></li>
                    <li class="mb-3"><label for="nombre"> <input
                            class="form-control" type="text" name="nombre"
                            placeholder="Nombres" th:field="*{nombres}"
                            th:errorclass="'form-control alert-danger'"/> <small
                            class="form-text text-danger"
                            th:if="${#fields.hasErrors('nombres')}" th:erros="*{nombres}"></small>

                    </label></li>
                    <li class="mb-3"><label for="apellido"> <input
                            class="form-control" type="text" name="apellido"
                            placeholder="Apellidos" th:field="*{apellidos}"
                            th:errorclass="'form-control alert-danger'"/> <small
                            class="form-text text-danger"
                            th:if="${#fields.hasErrors('apellidos')}" th:erros="*{apellidos}"></small>
                    </label></li>
                    <li class="mb-3"><label for="direccion"> <input
                            class="form-control" type="text" name="direccion"
                            placeholder="Direccion" th:field="*{direccion}"
                            th:errorclass="'form-control alert-danger'"/> <small
                            class="form-text text-danger"
                            th:if="${#fields.hasErrors('direccion')}"
                            th:erros="*{direccion}"></small>
                    </label></li>
                    <li class="mb-3"><label for="telefono"> <input
                            class="form-control" type="tel" name="telefono"
                            placeholder="Telefono" th:field="*{telefono}"
                            th:errorclass="'form-control alert-danger'"/> <small
                            class="form-text text-danger"
                            th:if="${#fields.hasErrors('telefono')}" th:erros="*{telefono}"></small>
                    </label></li>
                    <li><label for="Crear"> <input type="submit" required
                                                   class="btn btn-primary"/>
                    </label></li>
                </ul>
            </form>
        </article>
    </section>
</main>
<footer th:replace="layout/navbar::footer"></footer>
</body>
</html>