<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
    rel="StyleSheet"
    href="../CSS/styles.css"
    type="text/css"
    media="screen"
  />
    <title>Iniciar_Sesion</title>
    <link
      rel="StyleSheet"
      href="../CSS/bootstrap.css"
      type="text/css"
      media="screen"
    />
  </head>
  <body class="container">
    <header></header>
    <main>
      <section>
        <article  class="d-flex flex-column min-vh-100 justify-content-center align-items-center text-center">
          <form action="">
            <ul class="dropdown">
              <figure>
                <img class="logo" src="../img/MrJiro.jpeg" alt="logo" />
              </figure>
              <li class="mb-3">
                <label for="correo">
                  <input class="text-center"
                    type="email"
                    id="text"
                    placeholder="correo@ejemplo.com"
                    required
                  />
                </label>
              </li>
              <li class="mb-3">
                <label for="contraseña">
                  <input class="text-center"
                    type="password"
                    id="contraseña"
                    placeholder="Ingresar contraseña"
                  />
                </label>
              </li>
              <li>
                <label for="Inicio">
                  <input class="btn btn-primary" type="submit" value="Iniciar" />
                </label>
                <label for="Inicio"> 
                  <a class="btn btn-primary"  href="frm_registro_usuario.html">Registrar</a>
                </label>
              </li>
            </ul>
          </form>
        </article>
      </section>
    </main>
  </body>
  <footer>Gracias por la visita</footer>
</html>
