<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/navbar::head"></head>

<body class="container">
<header th:replace="layout/navbar::header"></header>
  <main class="d-flex row justify-content-center text-center">
    <section class="column">
      <article>
        <div class="card text-center mb-3">
          <div class="card-body">
            <div class="card-header">Misi&oacute;n</div>
            <p class="card-text">Somos un emprendimiento dedicado a brindar sabores inolvidables y recuerdos olvidados a nuestros clientes con nuestros productos hechos con “Amor” para generar un bienestar de nuestros colaboradores y sus familias.</p>
          </div>
        </div>
        <div class="card text-center mb-3">
          <div class="card-body">
            <div class="card-header">Visi&oacute;n</div>
            <p class="card-text">Ser reconocidos por brindar un magnifico servicio a nuestros clientes para poder llegar al coraz&oacute;n de los caleños y de todos   los que nos visitan as&iacute; poder brindar un mejor futuro a nuestras pr&oacute;ximas generaciones.</p>
          </div>
        </div>
      </article>
      </section>
  </main>
<footer th:replace="layout/navbar::footer"></footer>
</body>
</html>