<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/navbar::head"></head>

<body class="container">
<header th:replace="layout/navbar::header"></header>
  <main>
    <section>
      <article class="init-container">
        <div class="card text-center mb-3">
          <div class="card-body">
            <h5 class="card-title">Mision</h5>
            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent non viverra augue. Nulla facilisi. Nullam sagittis eleifend fringilla. Fusce varius leo in accumsan tincidunt. Proin eu nulla tempor, bibendum elit quis, porta dui. Suspendisse fringilla elementum turpis eu convallis. Integer ultricies scelerisque quam, non dapibus tellus congue id. Aliquam dapibus risus quis urna volutpat, sed porta ligula pretium. Cras ultrices massa a nisl porttitor, a ultricies sapien finibus. Suspendisse molestie quam sit amet interdum venenatis.</p>
          </div>
        </div>
        <div class="card text-center mb-3">
          <div class="card-body">
            <h5 class="card-title">Vision</h5>
            <p class="card-text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptas laborum cupiditate quaerat similique, error laboriosam, reiciendis ducimus molestiae dolor nam, nulla enim tempora itaque vitae exercitationem. Sint ad ducimus recusandae?</p>
          </div>
        </div>
      </article>
      </section>
  </main>
<footer th:replace="layout/navbar::footer"></footer>
</body>
</html>