<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8"/>
<title th:text="${titulo}"></title>
</head>
<body>
	<h1 th:text="${titulo}"></h1>
	<a th:href="@{/form}"> Crear cliente</a>
	<table>
		<thead>
			<tr>
				<th>Id</th>
				<th>Tipo documento</th>
				<th>Documento</th>
				<th>Nombre</th>
				<th>Apellido</th>
				<th>direccion</th>
				<th>telefono</th>
				<th>fecha</th>
			</tr>
		</thead>
		<tbody>
		<tr th:each="cliente:${clientes}">
		<td th:text=" ${cliente.id}"></td>
		<td th:text=" ${cliente.tipoDocumento}"></td>
		<td th:text=" ${cliente.documento}"></td>
		<td th:text=" ${cliente.nombre}"></td>
		<td th:text=" ${cliente.apellido}"></td>
		<td th:text=" ${cliente.direccion}"></td>
		<td th:text=" ${cliente.telefono}"></td>
		<td th:text=" ${cliente.createAt}"></td>
		</tr>
		</tbody>
	</table>
</body>
</html>